<div class="container--form">
  <div class="mb-4">
    <h1 class="text-subheading">New Product</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render "form",  product: @product %>
    </div>

    <div class="card-footer">
      <%= link_to "â† Cancel", products_path, class: "btn btn--sm" %>
    </div>
  </div>
</div>

